*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Hiro-Misake';
    src: url('assets/fonts/HIROMISAKE.ttf')
    format('truetype');
}

body{
    background-color:rgb(255, 255, 255);
    height: 100vh;
    max-width: 100%;
}
.landing-page{
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 999;
    position: fixed;
    backdrop-filter: blur(40px);
    top: 0;
    left: 0;
    right: 0;
}
#home{
    background-image: url('assets/images/samurai.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}
.nav-items{
    list-style: none;
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
}
.nav-items li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 28px;
    font-family: 'Hiro-Misake';
}
.home-div{
    padding-top: 240px;
    margin-left: 50px;
    font-family: 'Hiro-Misake';
}
.main-title{
    font-size: 4em;
}
.name{
    font-size: 4em;
    overflow: hidden;
    white-space: nowrap;
    /* border-right: 4px solid black; */
    animation: typing 1.5s steps(1000) forwards;
    /* blink 1s step-end infinite; */
} 
.intro-text{
    padding-top: 20px;
    max-width: 55%;
    font-size: 30px;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 1) ;
    animation: show 2.5s ease-in forwards;
    opacity: 0;
}
#about{
    height: 100vh;
    font-family: 'Hiro-Misake';
    font-size: large;
    background-image: url(assets/images/page2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.paper{
    position: relative;
    background:linear-gradient(
        to bottom,
        rgba(255, 245, 212, 0.8),
        rgba(245, 222, 179, 0.8),
        rgba(255, 245, 212, 0.8)
    );
    backdrop-filter: blur(3px);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    padding: 20px;
    border-left: 2px solid #4e3b1f;
    border-right: 2px solid #4e3b1f;
    z-index: 2;
    width: 70%;
    max-width: 780px;
    margin: 0 auto;
    /* font-family: 'Hiro-Misake'; */
    font-family: 'Papyrus', 'Georgia', serif;
    font-size: 15px;
    /* min-height: 800px; */
}
.about-title{
    text-align: center;
    font-size: 2.5em;
    padding-top: 10px;
    /* visibility: hidden; */
}
.about-content{
    font-size: 1.5em;
    padding-top: 50px;
    text-align: center;
    margin: 0px auto;
    width: 80%;
    max-width: 900px;

}
.scroll-container{
    position: relative;
    /* width: fit-content; */
    margin: 0 auto;
    padding-top: 80px;
}
.scroll-wrapper{
    overflow: hidden;
    max-height: 0;
    transition: max-height 2s ease;
}
/* .scroll-wrapper.open{
    max-height: 600px;
} */
.scroll-upper, .scroll-lower{
    background: linear-gradient(
        to bottom,
        #581f1f,
        #832020,
        #581f1f
    );
    width: 70%;
    max-width: 800px;
    height: 12vh;
    display: block;
    align-items: center;
    margin: 0px auto;
    border-radius: 20px;
    z-index: 1;
    border-left: 20px solid #2c0d0d;
    border-right: 20px solid #2c0d0d;
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.1),
    inset 0 -2px 3px rgba(0,0,0,0.4),
    0 3px 6px rgba(0,0,0,0.3);
}
.scroll-upper{
    border-bottom: 2px solid white;
}
.scroll-lower{
    border-top: 2px solid white;
    transition: margin-top 2s ease;
}
.scroll-wrapper.open + .scroll-lower{
    margin-top: 600px;
}
/* .lock{
    background: radial-gradient(
        circle at center,
        #e50914,
        #990000
    );
    width: 10vw;
    max-width: 500px;
    height: 8vh;
    z-index: 2;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    margin: 0px auto;
    border: 2px solid #000000;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.5),
    inset 0 0 8px rgba(0, 0, 0, 0.6);
} */
.section-combo{
     height: 90vh;
     font-family: 'Hiro-Misake';
     background-image: url(assets/images/page3.jpg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
 }
 .projects-title{
    text-align: left;
    font-size: 2.2em;
    padding: 40px;
 }
 .project-list{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    gap: 10px;
    overflow-x:auto;
 }
 .flip-card{
    height: 35vh;
    width: 20vw;
    max-width: 100%;
    padding: 20px;
    perspective: 1000px;
    cursor: pointer;
    flex-shrink: 0;
    min-width: 300px;
    color: transparent;
}
.flip-card:hover .flip-inner{
    transform: rotateY(180deg);
}
.flip-card.flipped .flip-card-inner{
    transform: rotateY(180deg);
}
.flip-inner{
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    background-color: rgba(0,0,0,0.4);
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    color: #fff;
}
.flip-card-front, .flip-card-back{
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px;

}
 .flip-card-front{
    font-size: 2em;
    text-align: center;
 }
 .flip-card-back{
    transform: rotateY(180deg);
    font-size: 18px;
 }
 .
 /* .red-sun{
    position: absolute;
    top: 10%;
    left: 5%;
    width: 300px;
    height: 300px;
    background: radial-gradient(circle, #e00 60%, transparent 61%);
    opacity: 0.2;
    z-index: 0;
 } */
 ::-webkit-scrollbar{
    visibility: hidden;
 }
@keyframes typing {
    from {
        width: 0%;
    }
    to {
         width: 268px;
    }
}
@keyframes blink {
    50% {
        border-color: transparent;
    }
}
@keyframes show {
    to{
        opacity: 1;
    }
}