*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Hiro-Misake';
    src: url('assets/fonts/HIROMISAKE.ttf')
    format('truetype');
}

body{
    background-color:rgb(255, 255, 255);
    height: 100vh;
    max-width: 100%;
}
.landing-page{
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 999;
    position: fixed;
    backdrop-filter: blur(40px);
    top: 0;
    left: 0;
    right: 0;
}
#home{
    background-image: url('assets/images/samurai.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}
.nav-items{
    list-style: none;
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
}
.nav-items li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 28px;
    font-family: 'Hiro-Misake';
}
.home-div{
    padding-top: 240px;
    margin-left: 50px;
    font-family: 'Hiro-Misake';
}
.main-title{
    font-size: 4em;
}
.intro-text{
    padding-top: 20px;
    max-width: 55%;
    font-size: 30px;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 1) 
}
#about{
    height: 100vh;
    font-family: 'Hiro-Misake';
    font-size: large;
}